/*Just watching how to
comment in a .css file */
@font-face {
    font-family: 'Kawak';
    src: url(Kawak/Kawak-LightItalic.otf);
}

@font-face {
    font-family: 'Lite';
    src: url(Kawak/Kawak-Bold.otf);
}

#intro .first em{
   color: violet;
   background-color:gray;
}

/*#bodystyle{
  background-color:#EAD1AA;
  background-color:#AABBAA;
}
*/

#particles-js{
	height:100%;
	/*background:#AAAAAA;*/
	background-image: url('black.png');
}

body{
	color: black;
	margin:0;
	font-family:-apple-system, BlincMacSystemFont, 'Segoe UI';
	padding:0;
	height: 98vh;
	background-color: transparent;
}

.btext{
color: black;
position:absolute;
text-align:center;
top: 8%;
}

h1.text1{
  color:#1F6364;
  font-family:-apple-system, BlincMacSystemFont, 'Segoe UI';
  background-color: transparent;
  text-align: center;
}

h2.text1 {
  color: #fff;
  font-family: 'Kawak', cursive;
  font-size: 70px;
  font-weight: normal;
  line-height: 78px;
  margin: 0 0 0px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
}

h2.text2 {
  color: #fff;
  font-family: 'Kawak', cursive;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 0px;
  text-align: right;
  text-shadow: 1px 1px 2px #000;
}

/*h2.text1{
  color:black;
  font-family:-apple-system, BlincMacSystemFont, 'Segoe UI';
  background-color: transparent;
  text-align: center;
}*/

div{
  color:black;
  font-family:-apple-system, BlincMacSystemFont, 'Segoe UI';
  background-color: transparent;
  text-align: center;
}

p { color: #ffc000; font-family: 'Lite', cursive; font-size: 25px; font-weight: normal; line-height: 78px; margin: 0 0 0px; text-align: center; text-shadow: 1px 1px 2px #000; }

span.black{
  color:black;
}

span.red{
  color:#FF5821;
}

/* Base Styles for CSS Menu */
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
#cssmenu {
  border: 1px solid #133e40;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: auto;
}
#cssmenu ul {
  zoom: 1;
  background: #36b0b6;
  background: -moz-linear-gradient(top, #eeeeee 0%, #b6b6b6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #b6b6b6));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #b6b6b6 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #b6b6b6 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #b6b6b6 100%);
  background: linear-gradient(top, #eeeeee 0%, #b6b6b6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  float: left;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
}
#cssmenu li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px 9px 15px;
  display: block;
  text-decoration: none;
  color: #000000;
  border: 1px solid transparent;
  font-size: 16px;
}
#cssmenu li.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #b6e0e6;
}
#cssmenu li.active a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #e6e6e6;
  border: 1px solid #969696;
  -moz-box-shadow: inset 0 5px 10px #b6b6b6;
  -webkit-box-shadow: inset 0 5px 10px #b6b6b6;
  box-shadow: inset 0 5px 10px #b6b6b6;
}
#cssmenu li:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #222222;
}
#cssmenu li:hover a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -moz-box-shadow: inset 0 5px 10px #eeeeee;
  -webkit-box-shadow: inset 0 5px 10px #eeeeee;
  box-shadow: inset 0 5px 10px #eeeeee;
}
