/*Just watching how to
comment in a .css file */
@font-face {
    font-family: 'Kawak';
    src: url(Kawak/Kawak-LightItalic.otf);
}

@font-face {
    font-family: 'Lite';
    src: url(Kawak/Kawak-Bold.otf);
}

#intro .first em{
   color: violet;
   background-color:gray;
}

/*#bodystyle{
  background-color:#EAD1AA;
  background-color:#AABBAA;
}
*/

#particles-js{
	height:100%;
	/*background:#AAAAAA;*/
	background-image: url('black.png');
}

body{
	color: black;
	margin:0;
	font-family:-apple-system, BlincMacSystemFont, 'Segoe UI';
	padding:0;
	height: 98vh;
	background-color: transparent;
}

.btext{
color: black;
position:absolute;
text-align:center;
top: 8%;
}

h1.text1{
  color:#1F6364;
  font-family:-apple-system, BlincMacSystemFont, 'Segoe UI';
  background-color: transparent;
  text-align: center;
}

h2.text1 { color: #7fff00; font-family: 'Kawak', cursive; font-size: 70px; font-weight: normal; line-height: 78px; margin: 0 0 0px; text-align: center; text-shadow: 1px 1px 2px #000; }

/*h2.text1{
  color:black;
  font-family:-apple-system, BlincMacSystemFont, 'Segoe UI';
  background-color: transparent;
  text-align: center;
}*/

div{
  color:black;
  font-family:-apple-system, BlincMacSystemFont, 'Segoe UI';
  background-color: transparent;
  text-align: center;
}

p { color: #ffc000; font-family: 'Lite', cursive; font-size: 25px; font-weight: normal; line-height: 78px; margin: 0 0 0px; text-align: center; text-shadow: 1px 1px 2px #000; }

span.black{
  color:black;
}

span.red{
  color:#FF5821;
}
